requests
openai
python-dateutil
newspaper3k
moviepy
gtts
python-dotenv
moviepy==1.0.3
imageio
imageio-ffmpeg
numpy
edge_tts
langdetect
pillow==9.5.0
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
kokoro
soundfile
torch
numpy
piper-tts
